{% extends "layouts/base.html" %}

{% block context %}
<form method="POST" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <h3><label for="title" class="form-label">Title</label></h3>
        <input type="form_control" class="form-control" id="title" name="title" value="{{ blog.title }}">
    </div>
    <div class="mb-3">
        <h3><label for="description" class="form-label">Description</label></h3>
        <textarea class="form-control" id="description" name="description" rows="3" >{{ blog.description }}</textarea>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">UPDATE BLOG</button>
    </div>
</form>
{% endblock context %}