{% extends "layouts/base.html" %}

{% block context %}
<div class="row ">
    
    {% for blog in blogs  %}
        <div class="card me-5 mt-4" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{blog.description}}</p>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ blog.create_date }}</h6>
            </div>
        </div>
    {% endfor %}
        
      
    
</div>


{% endblock context %}

